@import url('https://use.typekit.net/isp1luy.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply m-0 p-0 min-h-screen relative bg-white text-slate-800 scroll-smooth;
}

#svelte {
	@apply m-0 p-0 min-h-screen;
}

#portal {
	@apply fixed w-full h-full top-0 left-0 pointer-events-none z-10 overflow-hidden;
}
